# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environments & Dependencies
.venv/
env/
.env
venv/
*.egg-info/
.pdm-build/

# IDE & OS Settings
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs & Databases
*.log
*.sqlite3

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/